* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #444444;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-nav {
    display: flex;
    list-style-type: none;
    color: #EEEEEE;
    background-color: rgba(4, 39, 114, 0.712);
    box-shadow: black 2px 2px 2px;
    width: 100%;
}

.nav-bar {
    display: flex;
}

.nav-bar li {
    padding: 1rem;
    list-style-type: none;
}

.body-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "side-bar page-content";
    height: 100%;
}

.side-bar-container {
    grid-area: side-bar;
    background-color: #111111;\
    display: flex;
    flex-direction: column;
}

.side-bar-nav {
    color: white;
    list-style-type: none;
}

.side-bar-nav li {
    font-size: 1.5rem;
}

.side-bar-search {
    height: 30px;
    border-radius: 25px;
    width: 60%;
    align-self: center;
    margin: .5rem;
}

.page-content-container {
    grid-area: page-content;
    padding: 1rem;
}

.test1{
    color: white;
}

