body{
    margin: 0;
    padding: 0;
    border: orange solid 1px;
    background-color: #000000;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #EEEEEE;
    background-color: rgb(6, 52, 150);
    /* justify-content: space-around; */
    box-shadow: black 2px 2px 2px;
    width: 100%;
}

.nav-bar {
    display: flex;
    border: red 2px solid;
    
}

.nav-bar li {
    padding: 1rem;
    list-style-type: none;
    padding-left: 0;
}

.body-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "side-bar page-content";
    height: 100%;
}

.side-bar-container {
    grid-area: side-bar;
    background-color: #111111;
    border: red solid 1px;
    display: flex;
    flex-direction: column;
}

.side-bar-nav {
    padding-left: 0;
    color: white;
    border: pink solid 3px;
    list-style-type: none;
}

.side-bar-nav li {
    border: red 2px solid;
    font-size: 1.5rem;
}

.side-bar-search {
    border: pink 2px solid;
    height: 30px;
    border-radius: 25px;
    width: 60%;
    align-self: center;
    margin: .5rem;
}

.page-content-container {
    grid-area: page-content;
    border: yellow solid 1px;
}

.test1{
    color: white;
}

