<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFCS KB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav>
        <ul class="main-nav">
            <li>Home</li>
            <li>Documentation</li>
            <li>Account</li>
        </ul>
    </nav>
    <div class="body-content">
        <div class="side-bar-container">
            <input class="sid-bar-search" type="text">
            <ul class="side-bar-nav">
                <li>Recent Posts</li>
                <li>Favorites</li>
                <li>Documentation</li>
            </ul>
        </div>
        <div class="page-content-container">
        {% block content %}{% endblock %}
        </div>
    </div>


</body>
</html>