<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1 class="test1">This is for the header of the page</h1>
    <nav class="test2">
        <ul>
            <li>Home</li>
            <li>Documents</li>
            <li>Account</li>
            <li>Help</li>
        </ul>
    </nav>
    <br>
    {% block content %}{% endblock %}
    <br>
    <h1 class="test3">This section is for the footer of the page.</h1>
</body>
</html>