<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFCS KB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://kit.fontawesome.com/7caf783d4a.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="main-nav">
        <ul class="nav-bar">
            <li>Home</li>
            <li>Documentation</li>
            <li>Account</li>
        </ul>
    </nav>
    <div class="body-content">
        <div class="side-bar-container">
            <input class="side-bar-search" placeholder="Search" type="text">
            <ul class="side-bar-nav">
                <li><i class="fas fa-chevron-right"></i> Recent Posts</li>
                <li><i class="fas fa-chevron-right"></i> Favorites</li>
                <li><i class="fas fa-chevron-right"></i> Documentation</li>
            </ul>
        </div>
        <div class="page-content-container">
        {% block content %}{% endblock %}
        </div>
    </div>


</body>
</html>